<table class="table table-hover">
  <thead>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Department</td>
    <td>DOB</td>
    <td>Gender</td>
  </thead>
  <tr *ngFor="let emp of service.list">
    <td (click)="populateForm(emp)">{{emp.firstName}}</td>
    <td (click)="populateForm(emp)">{{emp.lastName}}</td>
    <td (click)="populateForm(emp)">{{emp.department}}</td>
    <td (click)="populateForm(emp)">{{emp.dob}}</td>
    <td (click)="populateForm(emp)">{{emp.gender}}</td>
    <td><button (click)="onDelete(emp.id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>