<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <div class="form-group">
    <label>FIRST NAME</label>
    <input name="firstName" #firstName="ngModel" [(ngModel)]="service.formData.firstName" class="form-control" required>
    <div class="validation-error" *ngIf="firstName.invalid && firstName.touched">This field is required.</div>
  </div>
  <div class="form-group">
      <label>LAST NAME</label>
      <input name="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName" class="form-control" required>
      <div class="validation-error" *ngIf="lastName.invalid && lastName.touched">This field is required.</div>
  </div>
  <div class="form-group">
      <label>DEPARTMENT</label>
      <select name="department" #department="ngModel" [(ngModel)]="service.formData.department" class="form-control" (change)="onChangeDepartment($event)" required>
          <option value="">-Select-</option>
          <option value="Development">Development</option>
          <option value="Testing">Testing</option>
          <option value="DEVOPS">DEVOPS</option>
          <option value="HR">HR</option>
          <option value="Accounts">Accounts</option>
      </select>
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label>DOB</label>
        <input name="dob" #dob="ngModel" [(ngModel)]="service.formData.dob" class="form-control" bsDatepicker [bsConfig]="dpConfig" required/>
        <div class="validation-error" *ngIf="dob.invalid && dob.touched">This field is required.</div>
      </div>
      <div class="form-group  col-md-6">
        <label>GENDER</label>
        <select name="gender" #gender="ngModel" [(ngModel)]="service.formData.gender" class="form-control" (change)="onChangeGender($event)" required>
            <option value="">-Select-</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
      </div>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>